Daily Email Summary Bot.json
{
  "name": "Daily Email Summary Bot",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "id": "8058273a-1690-41d1-9d3a-1c21341a0a88",
      "name": "Daily at 8:00 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        240,
        304
      ]
    },
    {
      "parameters": {
        "url": "http://feeds.bbci.co.uk/news/rss.xml",
        "options": {}
      },
      "id": "43fcd276-f932-4e85-ae53-bb434a08c7c7",
      "name": "Fetch RSS News",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        464,
        304
      ]
    },
    {
      "parameters": {
        "maxItems": 5
      },
      "id": "70c4d481-883e-4500-9646-09ac603fcd0f",
      "name": "Top 5 Items",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        688,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "// Get all news items\nconst items = $input.all();\n\n// Get current date\nconst today = new Date().toLocaleDateString('en-US', { \n  weekday: 'long', \n  year: 'numeric', \n  month: 'long', \n  day: 'numeric' \n});\n\n// Build HTML email\nlet html = `\n<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; max-width: 600px; margin: 0 auto; padding: 20px; }\n    h1 { color: #2c3e50; border-bottom: 3px solid #3498db; padding-bottom: 10px; }\n    .date { color: #7f8c8d; font-size: 14px; margin-bottom: 20px; }\n    .news-item { margin-bottom: 25px; padding: 15px; background: #f8f9fa; border-left: 4px solid #3498db; }\n    .news-item h2 { margin: 0 0 10px 0; font-size: 18px; color: #2c3e50; }\n    .news-item p { margin: 0 0 10px 0; color: #555; }\n    .news-item a { color: #3498db; text-decoration: none; font-weight: bold; }\n    .news-item a:hover { text-decoration: underline; }\n    .footer { margin-top: 30px; padding-top: 20px; border-top: 1px solid #ddd; text-align: center; color: #7f8c8d; font-size: 12px; }\n  </style>\n</head>\n<body>\n  <h1>📢 Daily News Update</h1>\n  <div class=\"date\">📅 ${today}</div>\n`;\n\n// Add each news item\nitems.forEach((item, index) => {\n  const title = item.json.title || 'No Title';\n  const description = item.json.contentSnippet || item.json.description || 'No description available';\n  const link = item.json.link || '#';\n  \n  html += `\n  <div class=\"news-item\">\n    <h2>${index + 1}. ${title}</h2>\n    <p>${description}</p>\n    <a href=\"${link}\" target=\"_blank\">Read more →</a>\n  </div>\n  `;\n});\n\n// Close HTML\nhtml += `\n  <div class=\"footer\">\n    <p>🤖 This email was automatically generated by your n8n workflow</p>\n    <p>You're receiving this daily news digest at your request</p>\n  </div>\n</body>\n</html>\n`;\n\n// Return the formatted HTML\nreturn [{ json: { html, subject: `📢 Daily News Update - ${today}` } }];"
      },
      "id": "9d9cd438-1213-4232-b380-db2a8ceb8737",
      "name": "Format HTML Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        912,
        304
      ]
    },
    {
      "parameters": {
        "sendTo": "sermaxhajrion12@gmail.com",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.html }}",
        "options": {
          "senderName": "Daily News Bot"
        }
      },
      "id": "31104306-1491-40de-a4b8-4cb9da915d35",
      "name": "Send Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1136,
        304
      ],
      "webhookId": "20cea506-e823-43ae-8dc9-cc764aeb021e",
      "credentials": {
        "gmailOAuth2": {
          "id": "f0Ez3nk2WwjF7kTn",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Daily at 8:00 AM": {
      "main": [
        [
          {
            "node": "Fetch RSS News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch RSS News": {
      "main": [
        [
          {
            "node": "Top 5 Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Top 5 Items": {
      "main": [
        [
          {
            "node": "Format HTML Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format HTML Email": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "335c25c4-0bfe-46eb-b662-a890170fe284",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a23a0932c2c9e7e223a4d80424307fa9deac1e531d82f6d138d0f23e1f452255"
  },
  "id": "JXxuj48Mi8MwrwGM",
  "tags": []
}